.App {
  text-align: center;
  background-color: burlywood;
  color: rgb(84, 23, 23);
  padding: 0px;
}

html{
  background: burlywood no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.main-header{
  font-size: xxx-large;
  margin: 20px;
  margin-left: 35px;
}
.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(210, 152, 78);
  opacity: 0.8;
  margin-bottom: 40px;
}

#link{
  margin-left: 10px;
  margin-right: 10px;
  background-color: burlywood;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: x-large;
}

#card-link{
  border: 1px rgba(0, 0, 0, 0.648) solid;
  margin-left: 10px;
  margin-right: 10px;
  background-color:  burlywood;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: medium;
  border: 2px, solid, black;
}

.random-button{
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  font-size: large;
}

.name-form{
  margin: 10px;
  border-radius: 5px;
}

.name-form-label{
  font-size: x-large;
  font:bolder;
  margin:5px
}

.name-form-button{
  border-radius: 5px;
  font-size: large;
  padding: 5px;
}

.name-form-input{
  margin: 10px;
  border-radius: 3px;
}

.all-meals{
  list-style: none;
}

.meal-card{
  background-color: rgb(219, 173, 112);
  border: 2px black solid;
  border-radius: 20px;
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 40px;
}

.meal-instructions{
padding: 20px;
padding-left: 20px;
padding-right: 20px;
font-family:sans-serif;
}

.meal-image{
  height: 600px;
  width: auto;
  border-radius: 20px;
}

.ingredients-list{
  padding-bottom: 40px;
  list-style: none;
}

.shopping-list{
  list-style: none;
}

.multi-meal-card{
  background-color: rgb(219, 173, 112);
  border: 2px black solid;
  border-radius: 10px;
  margin: 30px;
  padding: 8px;
  width: 250px
}

.multi-meal-image{
  height: 225px;
  width: auto;
  border-radius: 10px;
}

.multi-all-meals{
  list-style: none;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

